@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

:root {
    --display-color: #ffffff;
    --font-color: rgb(15, 182, 15);
}

body {
    background-color: #1e1e1e;
    color: var(--display-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
.chat-container {
    width: 80vw;
    height: 85vh;
    background-color: #2e2e2e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chat-header {
    background-color: #3e3e3e;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #4e4e4e;
}
.chat-messages {
    font-size: 24px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: var(--font-color);
}
.chat-input {
    display: flex;
    border-top: 1px solid #4e4e4e;
}
.chat-input textarea {
    flex: 1;
    padding: 10px;
    background-color: #3e3e3e;
    border: none;
    color: var(--display-color);
    resize: none;
    outline: none;
}
.chat-input button {
    padding: 10px;
    background-color: #5e5e5e;
    border: none;
    color: var(--display-color);
    cursor: pointer;
}
.chat-input button:hover {
    background-color: #7e7e7e;
}
