body {
    background-color: #eaded6;
}

.block {
    margin-top: 0%;
}

.in_block {
    text-align: center;
}

.heading {
    color: #936748;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1;
    max-width: 25%;
    padding: 10px;
}

.myModal {
    display: block;
}

.modal {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.zoom {
    width: 100%;
}

.content {
    text-align: center;
}